@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Varela&display=swap');

:root {
    --primary: #ffffff;
    --secondary: #ad9780;
    --text-color: #1f2022;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 20px;
    box-sizing: border-box;
    background-color: var(--primary);
    color: var(--text-color);
    font-family: 'Varela', sans-serif;
    position: relative;
}

/* Single elements*/
a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
}

/* Header section*/

header {
    width: 100%;
}

main {
    margin: 0 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--primary);
    padding: 0.6rem 0;
}

/* Navbar become fixed*/
.sticky {
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
    z-index: 2;
  }

.navbar__links {
    display: flex;
}

.navbar--mobile__links {
    display: none;
}

.navbar__img {
    max-width: 12rem;
    min-width: 8rem;
}

.navbar__link {
    margin: 0 2rem;
    font-size: 1.2rem;
}

.navbar__button {
    margin-right: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.2rem;
    background-color: var(--secondary);
    cursor: pointer;
}

.navbar__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar__button > a {
    color: var(--primary);
}

/* Header hero*/
.hero {
    background-image: url(images/header--background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 36rem;
    border-radius: 0 0 12rem 0;
    padding: 2rem;
}

/* margin for hero when window scrolled down*/
.scrolling {
    margin-top: 130px;
}

.hero__container {
    background-color: var(--primary);
    border-radius: 30px 30px 12rem 30px;
    max-width: 26rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__p1 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}

.hero__container > h1 {
    margin: 0;
    font-size: 2rem;
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

.hero__p2 {
    margin: 40px 0;
}

.hero__button {
    max-width: 10rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--secondary);
}

.hero__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.hero__button > a {
    display: flex;
    justify-content: flex-start;
    color: var(--primary);
}

/* Container 1*/
.container-1 {
    text-align: center;
}

.container {
    margin-top: 6rem;
}

.container__p {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}

.container__h2 {
    font-size: 2.4rem;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    margin: 0 0 2rem 0;
}

.container__p, .container__h2 {
    text-align: center;
}

.container-1__wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    row-gap: 1.4rem;
}

.box__icon-bg > i {
    border-radius: 1.6rem;
    font-size: 3rem;
    padding: 1rem;
    box-shadow: 0px 12px 12px -12px rgba(0, 0, 0, 0.6);
}

.fa-heart {
    color: #DC143C;
}

.fa-clock {
    color: #5D3FD3;
}

.fa-seedling {
    color: #50C878;
}

/* Container 2*/
.container-2 {
    text-align: center;
    margin-top: 6rem;
}

.container-2__wrapper {
    margin-top: 2rem;
    display: flex;
    overflow: scroll;
    column-gap: 2rem;
}

.container-2__wrapper > img {
    width: 260px;
    border: 8px solid var(--secondary);
}

/* sections 2 and 3 divider*/
.divider-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
}

.divider-1 > img {
    margin-top: 3rem;
}

.divider-1 > p {
    font-size: 2rem;
}

/* Container 3*/
.container-3__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

/* Container 3 cards*/
.product__card {
    width: 190px;
    min-height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.4rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

.card__body {
    color: black;
    display: flex;
    flex-direction: column;
}
   
/*card text*/
.card__title {
    font-size: 1.5em;
    font-weight: bold;
}
   
.card__description {
    color: rgb(134, 134, 134);
    margin-bottom: 1rem;
}
   
/* card elements */
.card__img {
    height: 180px;
    background: gray;
    border-radius: 10px;
}
   
.card__button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: var(--secondary);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}
   
/*card hover*/
.product__card:hover, .product__card:active {
    border-color: var(--secondary);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
   
.product__card:hover .card__button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.product__card:active .card__button {
    transform: translate(-50%, 50%);
    opacity: 1;
}
   
.card__button:hover, .card__button:active {
    background: #121212;
    cursor: pointer;
}

.container-4 {
    display: flex;
    justify-content: center;
}

.container-4__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    text-align: center;
}

.container-4__h2 {
    font-size: 2.4rem;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    margin: 0 0 2rem 0;
    margin-bottom: 10px;
}

.container-4__p {
    width: 80%;
}

.avatar {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar__photo {
    width: 100px;
    height: 100px;
    background: var(--secondary);
    border-radius: 50%;
    margin-bottom: 20px;
}

.avatar__name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 6px;
}

.container-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-5__p {
    text-align: center;
    width: 60%;
}

.container-5 > img {
    margin-top: 40px;
    width: 600px;
}

.container-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-6 > p {
    width: 70%;
}

.contact-section > img {
    margin-top: 40px;
    width: 600px;
}

.contact-section {
    position: relative;
}

.contact-section__wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
    position: absolute;
    top: 240px;
    left: 260px;
}

.contact-section__wrapper > i {
    font-size: 40px;
    display: flex;
}

footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    color: #c3c6ce;
    margin-bottom: 40px;
    width: 100%;
}

.footer__wrapper > p {
    flex-basis: 100%;
}

.footer__p1 {
    text-align: end;
}

.footer__wrapper > img {
    width: 12rem;
}


.footer__links {
    margin-bottom: 60px;
    font-size: 40px;
    display: flex;
    column-gap: 50px;
}

/* Smaller devices reset*/
@media only screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    main {
        margin: 0 10px;
    }

    .navbar {
        justify-content: center;
        flex-direction: column;
    }

    .navbar__links {
        display: none;
    }

    .navbar--mobile__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        width: 100%;
        margin: 20px 0;
    }

    .navbar__link {
        background-color: var(--secondary);
        width: 90%;
        text-align: center;
        padding: 0.8rem 0;
    }

    .navbar__button {
        display: none;
    }

    .hero {
        border-radius: 0;
        padding: 2rem 0;
        margin: 0;
        height: auto;
    }

    .container-1 > h2 {
        font-size: 2rem;
        margin: 0 1rem 1rem 1rem;
    }

    .container-1__wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .box {
        text-align: center;
        width: 60%;
    }

    .sticky {
        position: relative;
        left: 0;
        right: 0;
    }

    .section--divider > img {
        width: 70%;
    }

    .container-2__wrapper {
        row-gap: 2rem;
        align-items: center;
        flex-direction: column;
        height: 420px;
    }

    .container-4__wrapper {
        width: 80%;
    }

    .container-5__p {
        width: 100%;
    }

    .container-5 > img {
        width: 80%;
    }

    .contact-section > img {
        width: 80%;
    }

    .contact-section__wrapper {
        position: relative;
    }

    .contact-section__wrapper > i {
        font-size: 24px;
    }

    .footer__wrapper {
        flex-direction: column;
        row-gap: 10px;
    }

    .footer__wrapper > p {
        font-size: 1rem;
    }

    .footer__wrapper > img {
        max-width: 8rem;
    }
}